/* Small Screen */
.container {
  margin: 1rem;
}

.card__title {
  color: #06d6a0;
  margin-bottom: 1rem;
  font-size: 2.44rem;
  text-align: center;
}

.card__subtitle {
  color: #118ab2;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.pasien__total {
  margin-bottom: 1rem;
  font-size: 2.44rem;
  color: #073b4c;
}

.pasien__container {
  display: flex;
  flex-direction: column;
}

.pasien {
  margin-bottom: 1rem;
}

.pasien__status {
  border-radius: 25px;
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.pasien__total {
  color: #4361ee;
  font-size: 1.95rem;
  margin-bottom: 0.5rem;
}

.pasien__date {
  color: #64748b;
}

/* Medium Screen */
@media (min-width: 768px) {
  .pasien__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .pasien {
    flex-basis: 50%;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .pasien {
    flex-basis: 25%;
    padding: 1rem;
  }
}
